PluginsManager-13.08.03.jar filter=lfs diff=lfs merge=lfs -text
PluginsManager-11.03.23.jar filter=lfs diff=lfs merge=lfs -text
PluginsManager-11.04.02.jar filter=lfs diff=lfs merge=lfs -text
PluginsManager-11.07.08.jar filter=lfs diff=lfs merge=lfs -text
PluginsManager-11.09.20.jar filter=lfs diff=lfs merge=lfs -text
fml-minecraft.jar filter=lfs diff=lfs merge=lfs -text
ListPlugins-11.2.24.jar filter=lfs diff=lfs merge=lfs -text
PluginsManager-11.03.06.jar filter=lfs diff=lfs merge=lfs -text
PluginsManager-13.04.12.jar filter=lfs diff=lfs merge=lfs -text
PluginsManager-13.04.11.jar filter=lfs diff=lfs merge=lfs -text
PluginsManager-11.03.18.jar filter=lfs diff=lfs merge=lfs -text
PluginsManager-11.03.20.jar filter=lfs diff=lfs merge=lfs -text
PluginsManager-11.03.21.jar filter=lfs diff=lfs merge=lfs -text
PluginsManager-11.07.26.jar filter=lfs diff=lfs merge=lfs -text
PluginsManager-11.03.14.jar filter=lfs diff=lfs merge=lfs -text
PluginsManager-11.03.26.jar filter=lfs diff=lfs merge=lfs -text
PluginsManager-11.04.04.jar filter=lfs diff=lfs merge=lfs -text
PluginsManager-11.07.02.jar filter=lfs diff=lfs merge=lfs -text
